.chart ._m,
.chart ._180,
.chart ._360,
.chart ._7 {
  width: 1rem;
}

.chart ._30 {
  width: 0.4rem;
}

.chart ._360,
.chart ._m {
  width: 0.8rem;
}

.chart .title._360 {
  font-size: 0 !important;
  display: inline-block;

}

.chart ._360:first-letter {
  font-size: 0.75rem !important;
  /* margin-left: -10px; */
}

.chart .title {
  font-size: 0.75rem;
}

.chart .item {
  transition: all 0.5s ease !important;
}

.chart .title._30 {
  font-size: 0.5rem !important;
}

@media (min-width: 768px) {

  .chart ._7,
  .chart ._180,
  .chart ._360 {
    width: 1.75rem;
  }

  .chart ._m {
    width: 1rem;
  }

  .chart ._30 {
    width: 3rem;
  }

  .chart title {
    font-size: 0.85rem;
  }

  .chart .title._360 {
    font-size: 0.85rem !important;
  }

  .chart ._360:first-letter {
    font-size: 0.85rem !important;
    margin-left: 0px;
  }

  .chart .title._30 {
    font-size: 0.75rem !important;
  }
}

.chart .h-0 {
  height: 0;
}

.chart .h-1 {
  height: 1%;
}

.chart .h-2 {
  height: 2%;
}

.chart .h-3 {
  height: 3%;
}

.chart .h-4 {
  height: 4%;
}

.chart .h-5 {
  height: 5%;
}

.chart .h-6 {
  height: 6%;
}

.chart .h-7 {
  height: 7%;
}

.chart .h-8 {
  height: 8%;
}

.chart .h-9 {
  height: 9%;
}

.chart .h-10 {
  height: 10%;
}

.chart .h-11 {
  height: 11%;
}

.chart .h-12 {
  height: 12%;
}

.chart .h-13 {
  height: 13%;
}

.chart .h-14 {
  height: 14%;
}

.chart .h-15 {
  height: 15%;
}

.chart .h-16 {
  height: 16%;
}

.chart .h-17 {
  height: 17%;
}

.chart .h-18 {
  height: 18%;
}

.chart .h-19 {
  height: 19%;
}

.chart .h-20 {
  height: 20%;
}

.chart .h-21 {
  height: 21%;
}

.chart .h-22 {
  height: 22%;
}

.chart .h-23 {
  height: 23%;
}

.chart .h-24 {
  height: 24%;
}

.chart .h-25 {
  height: 25%;
}

.chart .h-26 {
  height: 26%;
}

.chart .h-27 {
  height: 27%;
}

.chart .h-28 {
  height: 28%;
}

.chart .h-29 {
  height: 29%;
}

.chart .h-30 {
  height: 30%;
}

.chart .h-31 {
  height: 31%;
}

.chart .h-32 {
  height: 32%;
}

.chart .h-33 {
  height: 33%;
}

.chart .h-34 {
  height: 34%;
}

.chart .h-35 {
  height: 35%;
}

.chart .h-36 {
  height: 36%;
}

.chart .h-37 {
  height: 37%;
}

.chart .h-38 {
  height: 38%;
}

.chart .h-39 {
  height: 39%;
}

.chart .h-40 {
  height: 40%;
}

.chart .h-41 {
  height: 41%;
}

.chart .h-42 {
  height: 42%;
}

.chart .h-43 {
  height: 43%;
}

.chart .h-44 {
  height: 44%;
}

.chart .h-45 {
  height: 45%;
}

.chart .h-46 {
  height: 46%;
}

.chart .h-47 {
  height: 47%;
}

.chart .h-48 {
  height: 48%;
}

.chart .h-49 {
  height: 49%;
}

.chart .h-50 {
  height: 50%;
}

.chart .h-51 {
  height: 51%;
}

.chart .h-52 {
  height: 52%;
}

.chart .h-53 {
  height: 53%;
}

.chart .h-54 {
  height: 54%;
}

.chart .h-55 {
  height: 55%;
}

.chart .h-56 {
  height: 56%;
}

.chart .h-57 {
  height: 57%;
}

.chart .h-58 {
  height: 58%;
}

.chart .h-59 {
  height: 59%;
}

.chart .h-60 {
  height: 60%;
}

.chart .h-61 {
  height: 61%;
}

.chart .h-62 {
  height: 62%;
}

.chart .h-63 {
  height: 63%;
}

.chart .h-64 {
  height: 64%;
}

.chart .h-65 {
  height: 65%;
}

.chart .h-66 {
  height: 66%;
}

.chart .h-67 {
  height: 67%;
}

.chart .h-68 {
  height: 68%;
}

.chart .h-69 {
  height: 69%;
}

.chart .h-70 {
  height: 70%;
}

.chart .h-71 {
  height: 71%;
}

.chart .h-72 {
  height: 72%;
}

.chart .h-73 {
  height: 73%;
}

.chart .h-74 {
  height: 74%;
}

.chart .h-75 {
  height: 75%;
}

.chart .h-76 {
  height: 76%;
}

.chart .h-77 {
  height: 77%;
}

.chart .h-78 {
  height: 78%;
}

.chart .h-79 {
  height: 79%;
}

.chart .h-80 {
  height: 80%;
}

.chart .h-81 {
  height: 81%;
}

.chart .h-82 {
  height: 82%;
}

.chart .h-83 {
  height: 83%;
}

.chart .h-84 {
  height: 84%;
}

.chart .h-85 {
  height: 85%;
}

.chart .h-86 {
  height: 86%;
}

.chart .h-87 {
  height: 87%;
}

.chart .h-88 {
  height: 88%;
}

.chart .h-89 {
  height: 89%;
}

.chart .h-90 {
  height: 90%;
}

.chart .h-91 {
  height: 91%;
}

.chart .h-92 {
  height: 92%;
}

.chart .h-93 {
  height: 93%;
}

.chart .h-94 {
  height: 94%;
}

.chart .h-95 {
  height: 95%;
}

.chart .h-96 {
  height: 96%;
}

.chart .h-97 {
  height: 97%;
}

.chart .h-98 {
  height: 98%;
}

.chart .h-99 {
  height: 99%;
}

.chart .h-100 {
  height: 100%;
}

[data-tooltip],
[data-tooltip2] {
  white-space: pre-line;
  position: relative !important;
}

[data-tooltip]:after,
[data-tooltip2]:after {
  content: attr(data-tooltip) !important;
  position: absolute !important;
  left: 70% !important;
  bottom: 70% !important;
  background-color: black !important;
  color: white !important;
  font-size: 0.75rem;
  padding: 0 0.4rem;
  z-index: 99;
  font-weight: 900;
  border-radius: 0.2rem;
  width: max-content !important;
  opacity: 0 !important;
  transition: opacity 0.35s ease-in-out !important;
}

[data-tooltip2]:after {
  content: attr(data-tooltip2) !important;
  bottom: 0% !important;
  left: calc(100% + 0.5rem) !important;
}

[data-tooltip]::before,
[data-tooltip2]::before {
  content: "";
  position: absolute;
  right: 30% !important;
  bottom: 70% !important;
  margin-bottom: 4px;
  z-index: 99;
  border-width: 5px;
  border-style: solid;
  opacity: 0 !important;
  transition: opacity 0.35s ease-in-out !important;
  border-color: transparent black transparent transparent;
}

[data-tooltip2]::before {
  bottom: 0% !important;
  right: calc(0% - 0.5rem) !important;
}

[data-tooltip]:hover:before,
[data-tooltip2]:hover:before,
[data-tooltip2]:hover:after,
[data-tooltip]:hover:after {
  opacity: 1 !important;
}